/*Estilização da home page*/

@import url(style.css);

main {
    margin: 0 5dvw;
    padding-bottom: 50dvh;
}

.banner_propaganda {
    margin: 5dvh 0;
}

.banner_propaganda img {
    width: 100%;
    cursor: pointer;
}

.produtos {
    color: #FFFFFF;
}

.produtos h2{
    margin: 7dvh 0;
    font-size: 2em;
    font-weight: 700;
}

.produtos_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content:space-between;
    row-gap: 10dvh;
}

.card_produto {
    cursor: pointer;
}

.card_produto_info {
    display: flex;
    flex-direction: column;
}

.card_produto_flex {
    display: flex;
    justify-content: space-between;
}

.card_produto_img {
    width: 15vw;
    height: 30dvh;
}

.card_produto_nome {
    margin-top: 12px;
    font-size: 1.2em;
    font-weight: 500;
}

.card_produto_valor {
    margin-top: 12px;
    font-size: 1em;
    font-style: italic;
}

.card_produto_classificacao {
    margin: 12px 0;
    width: 5dvw;
}

.card_produto_botao {
    padding: 8px 16px;
    font-size: 1em;
    font-weight: 500;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 22px;
    cursor: pointer;
}

.card_produto_botao:hover {
    opacity: 0.8;
}

.card_produto_botao:active {
    scale: 0.95;
}