/*Estilização da home page*/

@import url(style.css);

main {
    margin: 0 5dvw;
    padding-bottom: 50dvh;
}

.banner_propaganda {
    margin: 5dvh 0;
}

.banner_propaganda img {
    width: 100%;
    cursor: pointer;
}

.produtos {
    color: #FFFFFF;
}

.produtos h2{
    margin: 7dvh 0;
    font-size: 2em;
    font-weight: 700;
}

