/*Estilização padrão para todas as páginas*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(reset.css);

:root {
    --tamanho_fonte_nav: 1em;
}

::selection {
    background-color: #5C19CC;
    color: #FFFFFF;
}

* {
    font-family: "Inter", sans-serif;
}

body {
    background-color: #141517;
    margin: 0 12dvw;
}

/* Estilização do footer */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3dvh;
}

.nav_left, .nav_right {
    display: flex;
    align-items: center;
    gap: 2dvw;
}

.nav_logo {
    padding: 12px;
}

.nav_logo img{
    width: 10dvw;
}

.nav_categoria-produtos {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav_categoria-produtos img {
    width: var(--tamanho_fonte_nav);
}

.nav_link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: var(--tamanho_fonte_nav);
    font-weight: 500;
    letter-spacing: 1.3px;
}

.nav_link:hover {
    opacity: 0.8;
}

.nav_link:active {
    scale: 0.95;
}

.nav_pesquisa {
    display: flex;
    align-items: center;
}

.nav_pesquisa input {
    width: 12dvw;
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    font-size: var(--tamanho_fonte_nav);
}

.nav_pesquisa label {
    position: relative;
    right: 1.8dvw;   
    cursor: pointer;
}

.nav_pesquisa label img {
    width: var(--tamanho_fonte_nav);
}

.nav_conta, .nav_carrinho {
    display: flex;
    align-items: center;
    gap: 8px;
} 

.nav_conta img, .nav_carrinho img {
    width: var(--tamanho_fonte_nav)
}

.card_produto {
    cursor: pointer;
}

.card_produto_info {
    display: flex;
    flex-direction: column;
}

.card_produto_flex {
    display: flex;
    justify-content: space-between;
}

.card_produto_img {
    width: 15vw;
    height: 30dvh;
}

.card_produto_nome {
    margin-top: 12px;
    font-size: 1.2em;
    font-weight: 500;
}

.card_produto_valor {
    margin-top: 12px;
    font-size: 1em;
    font-style: italic;
}

.card_produto_classificacao {
    margin: 12px 0;
    width: 5dvw;
}

.card_produto_botao {
    padding: 8px 16px;
    font-size: 1em;
    font-weight: 500;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 22px;
    cursor: pointer;
}

.card_produto_botao:hover {
    border-color: #5C19CC;
    opacity: 0.8;
}

.card_produto_botao:active {
    scale: 0.95;
}

.produtos_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content:space-between;
    row-gap: 10dvh;
}